:root {
    --green: #1abc9c;
    --blue: #00a8ff;
    --blue-tint: #e0e0e0;
    --darker-blue: #34495e;
    --darkest-blue: #34383c;
    --light-grey: #e8e8e8;
    --months-count: 4;
}

html,
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--darker-blue);
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

footer {
    background-color: var(--darkest-blue);
    grid-area: footer;
}

a {
    text-decoration: none;
    color: initial;
}

ul {
    list-style: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Header */

.header {
    flex-flow: row wrap;
    text-align: center;
    align-content: center;
    color: #fff;
}

.header>* {
    flex-basis: 100%;
}

.header__title {
    font-family: Cinzel;
}

.header__parag {
    padding-top: 5px;
}

.proj-link {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.proj-link:hover {
    text-shadow: 1px 1px 3px white;
}

.git-link {
    display: inline-block;
    color: #fff;
    margin: 10px 0;
}

.git-link::before {
    content: "\f0c1";
    font-family: "Font Awesome\ 5 Free";
    font-size: 2em;
    font-weight: 900;
}

.git-link::after {
    content: "\f09b";
    font-family: "Font Awesome\ 5 Brands";
    font-size: 3em;
}


/* Navigation */

nav {
    background-color: var(--blue-tint);
}

.main-nav {
    flex-direction: row-reverse;
}

.main-nav__item {
    flex-basis: calc(100% / var(--months-count));
}

.main-nav__link {
    display: block;
    text-align: center;
    line-height: 1.5;
    font-size: 1.8em;
    border-right: .1px solid #002342;
    transition: all .5s linear;
}

.main-nav__link {
    color: var(--blue);
}

.main-nav__link:hover {
    color: white;
    background-color: var(--blue);
}

.main-nav__link--first {
    border-right: 0;
}


/* Content */

.main-content {
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "august august august center-col august1 august1 august1" "july july july center-col july1 july1 july1" "july2 july2 july2 center-col july3 july3 july3" "june june june center-col june1 june1 june1" "june2 june2 june2 center-col june3 june3 june3" "may1 may1 may1 center-col may2 may2 may2" "may3 may3 may3 center-col may4 may4 may4";
}

.may1 {
    grid-area: may1;
}

.may2 {
    grid-area: may2;
}

.may3 {
    grid-area: may3;
}

.may4 {
    grid-area: may4;
}

.june {
    grid-area: june;
}

.june1 {
    grid-area: june1;
}

.june2 {
    grid-area: june2;
}

.june3 {
    grid-area: june3;
}

.july {
    grid-area: july;
}

.july1 {
    grid-area: july1;
}

.july2 {
    grid-area: july2;
}

.july3 {
    grid-area: july3;
}

.august {
    grid-area: august;
}

.august1 {
    grid-area: august1;
}

.homework {
    margin-top: 50px;
    background-color: var(--light-grey);
    flex-flow: column nowrap;
    transition: all 0.3s linear;
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
}

.homework:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 0 10px black;
    border: 0;
}

.homework--may {
    color: var(--green);
}

.homework--june {
    color: var(--green);
}

.homework--may:hover {
    color: white;
    background-color: var(--green);
}

.homework--june:hover {
    color: white;
    background-color: var(--green);
}

.homework--july {
    color: var(--green);
}

.homework--july:hover {
    color: white;
    background-color: var(--green);
}

.homework--august {
    color: var(--green);
}

.homework--august:hover {
    color: white;
    background-color: var(--green);
}

.homework__date {
    text-align: center;
    padding: 20px;
}

.homework__item {
    text-align: center;
}

.homework__link:hover {
    color: #fff;
    text-shadow: 0 0 3px #000;
}


/* Footer */

.footer {
    padding: 100px;
}

.copyright {
    animation: mycopyanim 5s infinite alternate;
    display: block;
    font-family: Cinzel Decorative;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 2px 3px #9a6;
}

@keyframes mycopyanim {
    0% {
        color: rgb(255, 116, 135);
    }
    25% {
        color: rgb(255, 114, 58);
    }
    50% {
        color: rgb(153, 205, 50);
    }
    75% {
        color: rgb(144, 163, 228);
    }
    100% {
        color: rgb(0, 255, 213);
    }
}