:root {
  --green: #1abc9c;
  --blue-tint: #e0e0e0;
  --darker-blue: #34495e;
  --light-grey: #e8e8e8;
  --project-count: 3;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--darker-blue);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

footer {
  background-color: var(--darker-blue);
  grid-area: footer;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header {
  flex-flow: row wrap;
  text-align: center;
  align-content: center;
  color: #fff;
}

.header > * {
  flex-basis: 100%;
}

.header__title {
  font-family: Cinzel;
}

.header__parag {
  padding-top: 5px;
}

.git-link {
  display: inline-block;
  color: #fff;
  margin: 10px 0;
}

.git-link::before {
  content: "\f0c1";
  font-family: "Font Awesome\ 5 Free";
  font-size: 2em;
  font-weight: 900;
}

.git-link::after {
  content: "\f09b";
  font-family: "Font Awesome\ 5 Brands";
  font-size: 3em;
}

/* Navigation */

nav {
  background-color: var(--blue-tint);
}

.main-nav {
  flex-direction: row-reverse;
}

.main-nav__item {
  flex-basis: calc(100% / var(--project-count));
}

.main-nav__link {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5em;
  border-left: 0.1px solid #002342;
  transition: all 0.2s linear;
}

.main-nav__link {
  color: var(--green);
}

.main-nav__link:hover {
  color: white;
  background-color: var(--green);
}

.main-nav__link--first {
  border-left: 0;
}

/* Content */

.main-content {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.homework {
  flex-basis: 24%;
  color: var(--green);
  margin: 20px 5px;
  background-color: var(--light-grey);
  transition: all 0.3s linear;
  border-radius: 5px;
}

.homework:hover {
  color: #fff;
  background-color: var(--green);
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 10px black;
}

.homework__date {
  text-align: center;
  margin: 20px;
}

.homework__item {
  text-align: center;
  margin: 0 10px 20px;
}

.homework__link:hover {
  color: #fff;
  text-shadow: 0 0 3px #000;
}

/* Footer */

.footer {
  padding: 20px;
}

.copyright {
  color: #fff;
  display: block;
  font-family: Cinzel Decorative;
  font-size: 1.5em;
  text-align: center;
}
