:root {
  --project-count: 3;

  --blue-tint: #eff8ff;
  --lighter-blue: #aad4f5;
  --light-blue: #63a2d8;
  --blue: #3183c8;
  --dark-blue: #2368a2;
  --darker-blue: #1a4971;
  --darkest-blue: #203d54;

  --grey-tint: #f8f9fa;
  --lighter-grey: #e1e7ec;
  --light-grey: #cfd6de;
  --grey: #b5c1cb;
  --dark-grey: #8895a7;
  --darker-grey: #5f6b7a;
  --darkest-grey: #212934;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--darkest-blue);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

footer {
  background-color: var(--darkest-blue);
  grid-area: footer;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header {
  flex-flow: row wrap;
  text-align: center;
  align-content: center;
  color: #fff;
}

.header > * {
  flex-basis: 100%;
}

.header__title {
  font-family: Cinzel;
}

.header__parag {
  padding-top: 5px;
}

.git-link {
  display: inline-block;
  color: #fff;
  margin: 10px 0;
}

.git-link::before {
  content: "\f0c1";
  font-family: "Font Awesome\ 5 Free";
  font-size: 2em;
  font-weight: 900;
}

.git-link::after {
  content: "\f09b";
  font-family: "Font Awesome\ 5 Brands";
  font-size: 3em;
}

/* Navigation */

nav {
  background-color: var(--lighter-grey);
}

.main-nav {
  flex-direction: row-reverse;
}

.main-nav__item {
  flex-basis: calc(100% / var(--project-count));
}

.main-nav__link {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5em;
  border-left: 0.1px solid #002342;
  transition: all 0.2s linear;
  color: var(--blue);
}

.main-nav__link:hover {
  color: white;
  background-color: var(--light-blue);
}

.main-nav__link--first {
  border-left: 0;
}

/* Content */

.main-content {
  padding: 20px 0;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: center;
}

.homework {
  flex-basis: 24%;
  color: var(--dark-blue);
  margin: 20px 5px;
  background-color: var(--lighter-grey);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  cursor: default;
}

.homework:hover {
  color: var(--darker-blue);
  background-color: var(--lighter-blue);
  transform: scale(1.02, 1.02);
  box-shadow: 0 0 5px var(--darkest-blue);
}

.homework__date {
  text-align: center;
  margin: 20px;
}

.homework__item {
  text-align: center;
  margin: 0 10px 20px;
}

.homework__link {
  color: var(--dark-blue);
}

.homework__link:hover {
  color: var(--darkest-blue);
  text-shadow: 0 0 3px var(--light-blue);
}

/* Footer */

.footer {
  padding: 20px;
}

.copyright {
  color: #fff;
  display: block;
  font-family: Cinzel Decorative;
  font-size: 1.5em;
  text-align: center;
}
