mixin listCars(carArr)
    each car in carArr
        li
            p= car.manufacturer
        li
            p= car.model
        li
            a(href=`/cars/${car.VIN}`) Delete




include ../includes/header.pug
body
    h1= title
    include ../includes/navigation.pug
    ul
        +listCars(cars)


    include ../includes/footer.pug