mixin listCars(carArr)
    div
        each car in carArr
            p= `${car.manufacturer}, ${car.model}`
            a(href=`#`) Details
            hr


include ../includes/header.pug
body
    h1= title
    include ../includes/navigation.pug
    +listCars(cars)


    include ../includes/footer.pug