        /* Hover on Red */

        #ready:hover {
            background-color: red;
            color: white;
        }

        #ready:hover~div>div[class="red"] {
            background-image: url(https://i.pinimg.com/originals/8c/a1/61/8ca16186867ca6a84130dd5cde9efd07.png);
            background-size: 100%;
            background-color: red;
        }

        #ready:hover~div>div[class="yellow"], #ready:hover~div>div[class="green"] {
            background-color: grey;
        }

        /*---------------------------------*/

        /* Hover on Yellow */

        #steady:hover {
            background-color: rgb(255, 239, 95);
            color: black;
        }

        #steady:hover~div>div[class="yellow"] {
            background-image: url(http://www.clker.com/cliparts/W/6/Y/X/p/6/yellow-neutral-face-md.png);
            background-size: 100%;
            background-color: rgb(255, 239, 95);
        }

        #steady:hover~div>div[class="red"], #steady:hover~div>div[class="green"] {
            background-color: grey;
        }

        /*---------------------------------*/

        /* Hover on Green */

        #go:hover {
            background-color: rgb(0, 204, 0);
            color: white;
        }

        #go:hover~div>div[class="green"] {
            background-image: url(http://www.clker.com/cliparts/0/b/c/1/120657385441132693Arnoud999_Right_or_wrong_2.svg.med.png);
            background-size: 100%;
            background-color: rgb(0, 204, 0);
        }

        #go:hover~div>div[class="red"], #go:hover~div>div[class="yellow"] {
            background-color: grey;
        }

        /*---------------------------------*/

        /* Other styles */

        div {
            margin: 10px 10px 10px 10px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: grey;
            display: table;
            margin-left: auto;
            margin-right: auto;
        }

        span.hover-text {
            margin: 5px 5px 5px 5px;
            padding: 5px 5px 5px 5px;
            border: 1px solid black;
            border-radius: 20%;
        }

        .backgr {
            border: 5px solid grey;
            border-radius: 20%;
            background-color: black;
            padding: 20px 10px;
        }

        body {
            display: table;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: center;
        }