* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    text-align: center;
}

div div {
    margin: .25em;
    padding: 1em;
    text-transform: uppercase;
}

.container {
    max-width: 900px;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
}

.header {
    background-color: #646666;
    flex: 1 1 100%;
}

.main {
    background-color: rgb(41, 37, 37);
    flex: 1 1 100%;
}

.secondary {
    background-color: seagreen;
    flex: 1 1 100%;
}

.footer {
    background-color: silver;
    flex: 1 1 100%;
}

@media screen and (max-width: 749px) and (min-width: 480px) {
    .footer {
        flex: 1 1 41%;
    }
    div div {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 750px) {
    .header {
        flex: 1 1 44%;
    }
    .secondary {
        flex: 1 1 27%;
    }
    .footer {
        flex: 1 1 19%;
    }
    div div {
        margin-bottom: 1em;
        padding: 2em 0 2em 0;
    }
}