* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
}

header .left {
    height: 200px;
    border: 3px solid rgb(0, 60, 255);
}

main .left {
    height: 300px;
    border: 3px solid rgb(132, 0, 255);
}

.left {
    width: 25%;
    float: left;
}

header .right {
    width: 75%;
    height: 200px;
    border: 3px solid rgb(0, 195, 255);
}

main .center {
    width: 50%;
    border: 3px solid rgba(255, 30, 0, 0.788);
    float: left;
    height: 300px;
}

main .right {
    width: 25%;
    border: 3px solid rgb(132, 0, 255);
    height: 300px;
}

.right {
    float: right;
}

footer {
    clear: both;
    border: 3px solid lightgreen;
    height: 100px;
}