* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000;
}

footer {
    background-color: #000;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header .container {
    max-width: 1297px;
}


/* Header */


/* Social */

.h-social-box {
    display: flex;
    flex-flow: row nowrap;
}

.h-social-link {
    color: #04a9f5;
    margin: 10px;
}

.h-social-link:hover {
    color: #fff;
}

.h-social-link::before,
.f-social-link::before {
    font-family: FontAwesome;
}

.soc-link1::before {
    content: "\f09a";
}

.soc-link2::before {
    content: "\f099";
}

.soc-link3::before {
    content: "\f09e";
}

.soc-link4::before {
    content: "\f16d";
}

.soc-link5::before {
    content: "\f167";
}


/* Navigation */

.h-nav-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.main-nav-link {
    display: block;
    text-align: center;
    padding: 50px 10px 15px;
    transition: all .3s linear;
}

.main-nav-link:hover {
    color: #000;
    background-color: #fff;
}


/* Search */

.search-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 83px;
}

.search-box {
    color: #04a9f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
}

.search-link,
.cart-link {
    color: #04a9f5;
}

.search-link::before {
    content: "\f002";
    font-family: FontAwesome;
}

.cart-link::after {
    background: url(../pics/top-cart.jpg);
    content: "";
    font-family: FontAwesome;
    height: 24px;
    width: 24px;
    display: inline-block;
}

.cart-box {
    text-align: right;
}

.cart-info {
    background-color: #04a9f5;
    color: #000;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.cart-info span {
    font-weight: bold;
    padding: 30px 20px 10px;
}


/* Banner */

.banner-block {
    position: relative;
}

.line-box {
    background-color: #8b00ff;
    display: inline-block;
    position: absolute;
    right: calc(100% / 50);
    bottom: calc(100% / 20);
}

.line-link {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    transition: all .2s ease-in;
    font-size: 1.5em;
}

.line-link:hover {
    color: #04a9f5;
}


/* Main */

.double-hr-line {
    margin: 70px 0;
    position: relative;
    width: 100%;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.h1-white-back {
    background-color: #fff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hr-line-h1 {
    text-align: center;
    text-transform: uppercase;
}

.hr-line-h1::before {
    color: #04a9f5;
    font-family: FontAwesome;
    margin-right: 20px;
}

.l-h-1::before {
    content: "\f005";
}

.l-h-2::before {
    content: "\f0a3";
}

.l-h-3::before {
    background-image: url(../pics/title-news.png);
    content: "";
    height: 24px;
    width: 24px;
    display: inline-block;
}

.l-h-4::before {
    content: "\f167";
    color: #f00;
}

.hr-line-h1 i {
    color: #04a9f5;
}


/* Spotlight */

.spotlight-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.spot-box {
    flex-basis: 49%;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.spot-box:nth-child(2n+1) {
    margin-right: 20px;
}

.spot-h2 {
    margin: 10px 0;
    text-align: center;
}

.det-box {
    color: #fff;
    display: inline-block;
    width: 65.31px;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.det {
    background-color: #000;
    border-radius: 3px;
    width: 65.31px;
    display: block;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
}

.buy {
    background-color: #04a9f5;
    border-radius: 3px;
    width: 65.31px;
    display: block;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    opacity: 0;
    transition: all .5s ease-out;
    z-index: 1;
}

.det-box:hover .buy {
    opacity: 1;
}


/* Featured */

.featured-block {
    display: flex;
    flex-flow: column nowrap;
}

.featured-img:first-child {
    margin-bottom: 20px;
}


/* News */

.news-block {
    display: flex;
    flex-flow: row wrap;
}

.news-box::before {
    content: "\f144";
    font-family: FontAwesome;
    color: #04a9f5;
    position: absolute;
    top: 0;
    left: 5px;
}

.news-box {
    flex-basis: 33.33%;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 30px;
    position: relative;
    margin-bottom: 20px;
}

.news-link {
    color: #000;
    font-weight: bold;
    transition: all .4s ease-out;
}

.news-link:hover {
    color: #04a9f5;
}

.news-date {
    font-size: .8em;
    margin: 5px 0 10px;
}

.news-par {
    font-weight: bold;
}


/* Youtube */

.youtube-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}


/* Footer */


/* Additional Navigation */

.f-nav-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-box {
    flex-basis: 16%;
    margin: 20px;
    position: relative;
}

.f-nav-h3 {
    color: #fff;
    margin-bottom: 20px;
}

.f-nav-h3::after {
    content: "";
    background-color: #04a9f5;
    width: 50%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 30px;
}

.f-nav-link {
    text-transform: initial;
}

.f-nav-link:hover {
    text-decoration: underline;
}

.mail {
    color: #fff;
}

.address {
    color: #fff;
}


/* Site Descr */

.site-descr {
    background-color: #04a9f5;
}

.site-descr .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.f-social-box {
    display: flex;
    flex-flow: row nowrap;
}

.f-social-link {
    color: #000;
    margin: 10px;
}

.f-social-link:hover {
    color: #fff;
}

.f-social-block {
    margin: 20px;
}

.f-social-block span {
    display: inline-block;
    margin-top: 10px;
}

.f-social-block span::before {
    content: "\f0ac";
    font-family: FontAwesome;
    margin-right: 5px;
}

.copy-info {
    margin: 20px;
}

@media only screen and (max-width: 499px) {
    .sticky {
        position: initial;
    }
    .h-social-box {
        display: none;
    }
    .h-nav-block {
        margin-top: 10px;
    }
    .main-nav {
        margin: 0;
    }
    .logo-link {
        margin-bottom: 10px;
    }
    .main-nav-link {
        padding: 5px;
    }
    .main-nav li {
        flex-basis: 50%;
    }
    .main-nav li:last-child {
        flex-basis: 100%;
    }
    .search-block {
        flex-flow: row nowrap;
        justify-content: space-around;
        height: initial;
        width: 100%;
    }
    .search-box {
        flex-flow: row nowrap;
        align-items: center;
        flex-basis: 75%;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-basis: 25%;
    }
    .cart-info span {
        padding: 5px;
    }
    .line-box {
        right: 0;
        bottom: 4px;
    }
    .line-link {
        font-size: 1em;
        padding: 5px;
    }
    .h1-white-back {
        width: 270px;
    }
    .double-hr-line {
        margin: 40px 0;
    }
    .spotlight-block {
        flex-flow: column nowrap;
    }
    .spot-box {
        margin-top: 30px;
    }
    .spot-h2 {
        font-size: 1em;
    }
    .spot-box:nth-child(2n+1) {
        margin-right: 0;
    }
    .news-block {
        flex-flow: column nowrap;
    }
    .f-nav-block {
        flex-flow: column nowrap;
    }
    .f-nav-h3::after {
        width: 25%;
    }
    .site-descr .container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
    .sticky {
        position: initial;
    }
    .flex-box {
        position: relative;
    }
    .h-social-box {
        position: absolute;
        left: 10px;
        top: 15px;
    }
    .h-nav-block {
        margin-top: 10px;
    }
    .main-nav {
        margin: 0;
    }
    .logo-link {
        margin-bottom: 10px;
    }
    .main-nav-link {
        padding: 5px;
    }
    .main-nav li {
        flex-basis: 30%;
    }
    .search-block {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
    }
    .search-box {
        flex-flow: column nowrap;
        margin-right: 10px;
    }
    .search-link::before {
        margin-left: -20px;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-basis: 25%;
    }
    .cart-info span {
        padding: 5px 10px;
    }
    .line-link {
        font-size: 1em;
        padding: 5px;
    }
    .h1-white-back {
        width: 270px;
    }
    .double-hr-line {
        margin: 40px 0;
    }
    .spotlight-block {
        flex-flow: row wrap;
    }
    .spot-box {
        margin-top: 30px;
    }
    .spot-h2 {
        font-size: 1.3em;
    }
    .spot-box:nth-child(2n+1) {
        margin-right: 0;
    }
    .news-block {
        flex-flow: row wrap;
    }
    .news-box {
        flex-basis: 50%;
    }
    .f-nav-block {
        flex-flow: column nowrap;
    }
    .f-nav-h3::after {
        width: 25%;
    }
    .site-descr .container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
    .sticky {
        position: initial;
    }
    .flex-box {
        flex-flow: column;
        position: relative;
    }
    .h-social-box {
        position: absolute;
        left: 10px;
        top: 15px;
    }
    .h-nav-block {
        margin-top: 10px;
        flex-flow: column;
    }
    .main-nav {
        margin: 0;
    }
    .logo-link {
        margin-bottom: 10px;
    }
    .main-nav-link {
        padding: 5px;
    }
    .main-nav li {
        flex-basis: 30%;
    }
    .search-block {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
    }
    .search-box {
        flex-flow: column nowrap;
        margin-right: 10px;
    }
    .search-link::before {
        margin-left: -20px;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-basis: 25%;
    }
    .cart-info span {
        padding: 5px 10px;
    }
    .line-link {
        font-size: 1.5em;
        padding: 5px;
    }
    .h1-white-back {
        width: 270px;
    }
    .double-hr-line {
        margin: 40px 0;
    }
    .spotlight-block {
        flex-flow: row wrap;
    }
    .spot-box {
        margin-top: 30px;
    }
    .spot-h2 {
        font-size: 1.5em;
    }
    .spot-box:nth-child(2n+1) {
        margin-right: 0;
    }
    .news-block {
        flex-flow: row wrap;
    }
    .news-box {
        flex-basis: 50%;
    }
    .f-nav-block {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .nav-box {
        flex-basis: initial;
    }
    .f-nav-h3::after {
        width: 25%;
    }
    .site-descr .container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
    .flex-box {
        flex-flow: column;
        position: relative;
    }
    .h-social-box {
        position: absolute;
        left: 20px;
        top: 23px;
    }
    .h-nav-block {
        margin-top: 10px;
        flex-flow: column;
    }
    .main-nav {
        margin: 0;
        flex-flow: row nowrap;
    }
    .logo-link {
        margin-bottom: 10px;
    }
    .main-nav-link {
        padding: 10px;
    }
    .search-block {
        position: absolute;
        right: 15px;
        top: 10px;
        height: 50px;
    }
    .search-box {
        flex-flow: column nowrap;
    }
    .search-link::before {
        margin-left: -20px;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #000;
        color: #04a9f5;
    }
    .cart-info span {
        padding: 5px 10px;
    }
    .line-link {
        font-size: 1.5em;
        padding: 5px;
    }
    .h1-white-back {
        width: 270px;
    }
    .double-hr-line {
        margin: 40px 0;
    }
    .spotlight-block {
        flex-flow: row wrap;
    }
    .spot-box {
        margin-top: 30px;
    }
    .spot-h2 {
        font-size: 1.5em;
    }
    .spot-box:nth-child(2n+1) {
        margin-right: 0;
    }
    .news-block {
        flex-flow: row wrap;
    }
    .news-box {
        flex-basis: 30%;
    }
    .f-nav-block {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .nav-box {
        flex-basis: initial;
    }
    .f-nav-h3::after {
        width: 25%;
    }
    .site-descr .container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {
    .flex-box {
        flex-flow: column;
        position: relative;
    }
    .h-social-box {
        position: absolute;
        left: 20px;
        top: 23px;
    }
    .h-nav-block {
        margin-top: 10px;
        flex-flow: column;
    }
    .main-nav {
        margin: 0;
        flex-flow: row nowrap;
    }
    .logo-link {
        margin-bottom: 10px;
    }
    .main-nav-link {
        padding: 10px;
    }
    .search-block {
        position: absolute;
        right: 15px;
        top: 10px;
        height: 50px;
    }
    .search-box {
        flex-flow: column nowrap;
    }
    .search-link::before {
        margin-left: -20px;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #000;
        color: #04a9f5;
    }
    .cart-info span {
        padding: 5px 10px;
    }
    .line-link {
        font-size: 1.5em;
        padding: 5px;
    }
    .h1-white-back {
        width: 270px;
    }
    .double-hr-line {
        margin: 40px 0;
    }
    .spotlight-block {
        flex-flow: row wrap;
    }
    .spot-box {
        margin-top: 30px;
    }
    .spot-h2 {
        font-size: 1.5em;
    }
    .spot-box:nth-child(2n+1) {
        margin-right: 0;
    }
    .news-block {
        flex-flow: row wrap;
    }
    .news-box {
        flex-basis: 30%;
    }
    .f-nav-block {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .nav-box {
        flex-basis: initial;
    }
    .f-nav-h3::after {
        width: 25%;
    }
    .site-descr .container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1253px) {
    .flex-box {
        flex-flow: row nowrap;
    }
    .h-social-link {
        margin: 8px;
    }
    .h-nav-block {
        flex-flow: row nowrap;
    }
    .logo-link {
        margin-right: 10px;
    }
    .main-nav {
        margin: 0;
        flex-flow: row nowrap;
    }
    .search-block {
        height: 83px;
        margin-left: 15px;
    }
    .search-box {
        flex-flow: column nowrap;
    }
    .search-link::before {
        margin-left: -20px;
    }
    .cart-box {
        text-align: center;
        display: inline;
    }
    .cart-info {
        justify-content: center;
        align-items: flex-end;
    }
    .cart-info span {
        padding: 5px 10px;
    }
    .nav-box {
        flex-basis: initial;
    }
}

@media only screen and (min-width: 1252px) {
    .nav-box:last-child h3::after {
        top: 50px;
    }
}