doctype html
head
    title= title
    style.
        .navigation {
            list-style-type: none;
            padding: 0;
        }
        .navigation--item {
            display: inline-block;
            margin: 10px;
        }