hr
ul.navigation
    li.navigation--item
        a(href="/") Home
    li.navigation--item
        ul Persons
            li
                a(href="/persons") List
            li
                a(href="/persons/add") Add New Person

    li.navigation--item
        ul Car
            li
                a(href="/cars") List
            li
                a(href="/cars/add") Add New Car
hr