hr
ul.navigation
    li.navigation--item
        a(href="/") Home
    li.navigation--item
        ul
            li
                a(href="#") Persons
            li
                a(href="/persons/active") Show Active Persons
            li
                a(href="/persons/all") Show All Persons
            li
                a(href="/persons/add") Add New Person

    li.navigation--item
        ul
            li
                a(href="#") Car
            li
                a(href="/cars/") Show Available Cars
            li
                a(href="/cars/add") Add New Car
hr