mixin personDetails(person)
    p= `${person.firstName} ${person.lastName}, ${person.ID}`


include ../includes/header.pug
body
    h1= title
    include ../includes/navigation.pug
    +personDetails(person)
    div
        a#delete(href="#") Remove
    div
        a#disable(href="#") Disable



    include ../includes/footer.pug
    script(src="../js/ajax.js")