mixin listPersons(personArr)
    div
        each person in personArr
            p= `${person.firstName}, ${person.lastName}`
            a(href=`/persons/${person.ID}`) Details
            hr



include ../includes/header.pug
body
    h1= title
    include ../includes/navigation.pug
    label(for="filter") Filter
        input#filter(type="text", name="filter")
    +listPersons(persons)


    include ../includes/footer.pug