body {
    background-color: rgb(255, 255, 245);
}

img {
    display: flex;
    margin: 100px auto 20px auto;
}

#north-light {
    width: 600px;
    height: 400px;
}

a {
    display: block;
    text-align: center;
    padding: 3px;
}

a:hover {
    color: red;
}