body {
    background-color: rgb(255, 255, 245);
}

.container {
    display: table;
    margin: 100px auto;
}

div {
    margin: 2px;
}

img {
    width: 250px;
    height: 250px;
}

div.box {
    float: left;
    border: 1px dashed grey;
    margin: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}

div.box:hover {
    border: 1px solid black;
}

div span {
    font-weight: bold;
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

div a {
    text-decoration: none;
}

div a:hover {
    color: rgb(255, 45, 45);
}